@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author:Dominic Torres 
   Date:  9/24/19 
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */

/*step 3*/
html{
   height: 100%;
}
/*step 4*/
body{
   width: 95%;
   min-width: 640px;
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
   min-height: 100%;
}


/* Row Styles */





/* Page Header Styles */






/* Horizontal Navigation List Styles */




/* Topics Styles */






/* HR Styles */




/* Customer Comment Styles */



/* Footer Styles */


